.container {
    width: 1182px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    /* min-height: 100vh;  */
    width: 1028px;
    height: 80vh;
    border-radius: 15px;
    box-shadow: var(--global-shadow);
    /* color: #fff; */
    /* background-color: blueviolet; */
}
